<Layouts.app flash={@flash}>

  <div class="flex flex-row justify-between">
    <h1 class="text-4xl sm:text-5xl">Playlists</h1>
    <.button><.icon name="hero-plus" title="Add a new playlist"/></.button>
  </div>

</Layouts.app>
