<Layouts.app flash={@flash}>

  <div class="flex flex-row justify-between">
    <h1 class="text-4xl sm:text-5xl">Playlists</h1>
    <.button aria-label="Add a new playlist"><.icon name="hero-plus"/></.button>
  </div>

</Layouts.app>
